@import "_mixins.scss";
@import "compass/typography/vertical_rhythm";
@import "compass/utilities/general/float";
@import "compass/typography/links/link-colors";
@import "compass/css3";


$large_screen:'min-width: 1200px';
$medium_screen:'min-width: 992px';
$small_screen:'min-width: 768px';
$verysmall_screen:'max-width: 767px';



$max_width:1170px;
$base-font-size: 16px;
$base-line-height: 24px;
$rhythm-unit: "rem";
$rem-with-px-fallback: true;

$heading_color:#444645;
$font_color:#999999;
$black_color:#000000;
$dark_grey_color:#282828;
$half_white:#dfdfdf;
$white_color:#ffffff;
$primary_color:#f11462;
$dark_primary_color:#9d215f;
$nav_color:#005683;
$light_grey:#f9f9f9;
$border_color:#d3d3d3;
$pink_color:#ffbfe6;

//tutti fruiti colors
$purple:#bd01a0;
$baby_purple:#673499;
$yellow:#ffaa31;
$green:#68af27;
$maroon:#c22439;
$grey:#333333;
$orange:#d53f26;

